body {
  padding-top: 20px;
  background: url('./bg/textured_paper/textured_paper.png');
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

footer {
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  font-size: .8em;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: darkred;
  text-decoration: none;
}

article {
  background: rgba(255,255,255,0.5);
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: silver 0 0 10px;
}

h2 {
  font-size: 14px;
}

.slogan {
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.5em;
}

.divider {
  background: rgba(255,255,255,0.5);
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: silver 0 0 10px;
  text-align: center;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: auto;
}

.avatar {
  float: right;
  margin: 1px;
  padding: 1px;
  width: 90px;
  height: 90px;
  border-radius: 45px 45px;
  overflow: hidden;
}

